.idea/
.gradle/
build/
sdk/
obj/
TMessagesProj/.cxx
TMessagesProj/.cargo
TMessagesProj/config/release.keystore
*.iml
local.properties
service_account_credentials.json
Tools/Utils.java
test.py
.project
.settings
.classpath
History.md
Nnngram.jks
apks
dprint.json
sdk/
Nnngram.jks
